<!-- TODO: Completar y agregar el histograma tambien -->
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/drilldown.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<div class="row">
    <div class="col">
        <div class="table-wrapper-scroll-y scrollbar mb-5">
            <table class="table table-bordered table-striped mb-0">
              <thead class="table-primary text-white text-center" id="headResultado">
                <tr>
                  <th scope="col">Nro Iteracion</th>
                  <th scope="col">Numero Aleatorio Generado</th>
                </tr>
              </thead>
              <tbody>
                {% for fila in resultados %}
                <tr>
                  <th scope="row">{{fila.0}}</th>
                  <td>{{fila.1}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <style>
            #headResultado th{
              background-color: #0d6efd;
            }

            .scrollbar {
              position: relative;
              height: 400px;
              overflow: auto;
            }
            .table-wrapper-scroll-y {
              display: block;
            }

            .titulo {
              background-color: rgb(114, 223, 163 )
            }
        </style>
  </div>
</div>

<div class="container">
  <div id="content-histograma">
    <!-- TODO: Debe cargar el histograma de los resultados -->
  </div>
</div>

<script type="application/javascript">

Highcharts.chart('content-histograma', {
chart: {
  type: 'column'
},
title: {
  text: 'Histograma'
},

accessibility: {
  announceNewData: {
      enabled: true
  }
},
xAxis: {
  type: 'category'
},
yAxis: {
  title: {
      text: 'frecuencias'
  }

},
legend: {
  enabled: false
},
plotOptions: {
  series: {
      borderWidth: 0,
      dataLabels: {
          enabled: true,
          format: '{point.y:.1f}'
      }
  }
},

tooltip: {
  headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
  pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}</b> of total<br/>'
},

series: [
  {
      name: "intervalos",
      colorByPoint: true,
      data: [
          {% for int in histograma.intervalos%}
          {
              name: "{{int.0}} - {{int.1}}",
              y: {{int.3}},

          },
          {% endfor %}
      ]
  }
],
});
</script>