<!-- TODO: Completar y agregar el histograma tambien -->
<div class="row">
    <div class="col">
        <div class="table-wrapper-scroll-y scrollbar mb-5">
            <table class="table table-bordered table-striped mb-0">
              <thead class="table-primary text-white text-center" id="headResultado">
                <tr>
                  <th scope="col">Nro Iteracion</th>
                  <th scope="col">Xi</th>
                  <th scope="col">Numero Pseudo-Random</th>

                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td >Larry the Bird</td>
                  <td>Thornton</td>
                </tr>
            </table>
        </div>
        <style>
            #headResultado th{
                background-color: #0d6efd;
            }
        </style>
</div>