{% extends "estructura.html" %}
{% load static %}

{% block title %} Carga de parametros {% endblock %}

{%block css%}<link type="text/css" href="{% static 'css/cargaparametros.css' %}" rel="stylesheet" />{% endblock%}

{% block content %}
<div class="container">
    <div class="row">
        <h1 class="text-center bg-warning mb-5"> TP SIMULACION NUMEROS ALEATORIOS</h1>
    </div>
    <div class="row">
        <div class="col">
            <form action="/numerosAleatorios/" method="GET">
                <div class="mb-3">
                    <label for="tamañoMuestra" class="form-label">Ingrese el tamaño de la muestra</label>
                    <input type="number" class="form-control" id="tamañoMuestra" name="tamañoMuestra">
                </div>
                <div class="mb-3">
                    <label for="valorSemilla" class="form-label">Ingrese el valor de la semilla</label>
                    <input type="number" step="0.0001" class="form-control" id="valorSemilla" name="valorSemilla">
                </div>
                <div class="mb-3">
                    <label for="valorK" class="form-label">Ingrese el valor de K</label>
                    <input type="number" step="0.0001" class="form-control" id="valorK" name="valorK">
                </div>
                <div class="mb-3">
                    <label for="valorG" class="form-label">Ingrese el valor de G</label>
                    <input type="number" step="0.0001" class="form-control" id="valorG" name="valorG">
                </div>
                 <div class="mb-3">
                    <label for="valorC" class="form-label">Ingrese el valor de C</label>
                    <input type="number" step="0.0001" class="form-control" id="valorC" name="valorC">
                </div>
                <div class="mb-3">
                    <label for="valorIntervalos" class="form-label">Ingrese la cantidad de intervalos</label>
                    <select class="form-select" aria-label="Default select example" id="valorIntervalos" name="valorIntervalos">
                        <option hidden selected>Intervalos</option>
                        <option value="5">5 Intervalos</option>
                        <option value="8">8 Intervalos</option>
                        <option value="10">10 Intervalos</option>
                        <option value="12">12 Intervalos</option>
                    </select>
                </div>

                <div class="mb-3">
                    <button class="btn btn-info" type="submit" value="Datos"> Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>



{% endblock %}