{% extends "estructurachicuadrado.html" %}
{% load static %}

{% block title %} Menu {% endblock %}

{%block css%}<link type="text/css" href="{% static 'css/pruebachicuadrado.css' %}" rel="stylesheet" />{% endblock%}

{% block content %}
<div class="container text-center">
    <div class="row bg-dark mb-5">
        <div class="col">
            <h1 class="text-white"> PRUEBA DE BONDAD</h1>
        </div>
    </div>
    <div class="row">
        <form action="/pruebaChicuadrado/" method="GET">
            <input class="btn btn-outline-primary btn-lg" type="submit" value="Prueba de Chi cuadrado">
        </form>
    </div>
</div>



{% endblock %}