{% extends "estructuramenu.html" %}
{% load static %}

{% block title %} Seleccionar Muestra {% endblock %}

{%block css%}<link type="text/css" href="{% static 'css/seleccionarMuestra.css' %}" rel="stylesheet" />{% endblock%}

{% block content %}
<div class="container">
    <div class="row bg-primary mb-5">
        <h1 class="text-center"> Seleccione la muestra</h1>
    </div>
    <div class="row">
        <div class="col">
            <div class="d-grid gap-2">
              <a href="/muestra1" class="btn border" role="button" >Muestra 1 - Puntos x Minuto x Partido GINOBILI </a>
            </div>
        </div>
        <div class="col">
            <div class="d-grid gap-2">
              <a href="/muestra2" class="btn border" role="button" >Muestra 2 - Porcentaje de Variacion Diario del Bitcoin 2021 </a>
            </div>
        </div>
    </div>
</div>



{% endblock %}